.container {
    height: 1000px;
    width: 100vw;
    background-image: url('../../public/svu_not_found.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
